@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.font{
  font-family: 'inter', sans-serif;
}
.bg-billing{
    background-image: url(../../assets/images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.cart-bg{
    background-image: url(../../assets/images/vartback.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover,
}
.cart-bg-2{
    background-image: url(../../assets/images/cart2.png);
    background-position:center, center;
    background-repeat:no-repeat, no-repeat;
    background-size:cover, cover;
}
.wallet{
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);

}
/* style.css yoki <style> ichida yoziladi */
.custom-border {
    border-image-source: radial-gradient(
      69.43% 69.43% at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
  }
  .list{
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);

  }